include ../_mixins/_all.pug

doctype html
html
	include ../_partials/_head.pug

	body
		.callout.large
			.row
				block content

		script.
			window.googleSheetsUrl = "#{googleSheetsUrl}";

		// build:js ./assets/js/app.bundle.min.js
		script(src="./assets/js/app.bundle.js")
		// endbuild

		block scripts-footer
