.signup-form-container
	.signup-form.js-signup-container
		header.signup-form__header
			h5.signup-form__title Discover Hometime
			| A complete suite of services

			+signup-button(class='signup-form__close', text=' ')

		.signup-form__content
			p.text--center
				| Tell us about your property and we’ll be in touch shortly to
				| discuss how Hometime can work for you.

			form.js-signup-form(method="post")
				.field
					label(for="name") Name
					input.input--base-lt(type="text",name="name",id="name")

				.field
					label(for="email") Email
					input.input--base-lt(type="text",name="email",id="email")

				.field
					label(for="telephone") Phone number
					input.input--base-lt(type="text",name="telephone",id="telephone")

				.field
					label(for="postcode") Property's postcode
					input.input--base-lt(type="text",name="postcode",id="postcode")

				.gw
					.g.g-1-of-2.g-palm-1-of-1
						.field
							label(for="numberRooms") No. of bedrooms
							input.input--base-lt(type="text",name="numberRooms",id="numberRooms")

					.g.g-1-of-2.g-palm-1-of-1
						.field
							label(for="numberBathrooms") No. of bathrooms
							input.input--base-lt(type="text",name="numberBathrooms",id="numberBathrooms")

				.text--right
					button.btn--primary(type="submit") submit

	.signup-form-success
		+signup-button(class='signup-form__close', text=' ')

		h3.signup-form-success__title
			| That’s it!

		p
			| Now you simply sit back, relax and let us take care of the hard
			| work from here on in.

		+signup-button(text='back to site')
