head
	meta(charset="utf-8")
	title
		= siteName
		= ' '
		| Bug Reporter

	meta(name="format-detection" content="telephone=no")
	meta(name="viewport" content="width=device-width, initial-scale=1")

	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation-flex.min.css")

	include ./_analytics.pug
